*{
    margin: 0;
    padding: 0;box-sizing: border-box;
}
:root{
    --maincolor:  #E72929;
    --secondarycolor:#ffe73d;
}
body{
    font-family: Arial, sans-serif;
}
nav{
    background-color:var(--maincolor);
    color: var(--secondarycolor);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .mainmenu{
    display: flex;
    list-style: none;
}
nav .mainmenu li a{
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    color:var(--secondarycolor);
    transition: 0.2s ease;
    font-family: monospace;
}
nav .mainmenu li a:hover{
    background-color: var(--secondarycolor);
    color: var(--maincolor);
    font-size: 4em;
}
nav .openmenu{
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}
nav .mainmenu .closemenu .icons  i{
    font-size: 2rem;
    display: none;
    cursor: pointer;
}
.fa-facebook{
    color: rgb(0, 110, 255);
}
.fa-twitter{
    color: rgb(0, 172, 238);
}
.fa-instagram{
    color: rgb(255, 0, 191);
}
.fa-youtube{
    color: rgb(255, 0, 0);
}
.fa-linkedin{
    color: rgb(0, 119, 181);
}
.fa-facebook:hover{
    color: whitesmoke;
}
.fa-twitter:hover{
    color: whitesmoke;
}
.fa-instagram:hover{
    color: whitesmoke;

}
.fa-youtube:hover{
    color: whitesmoke;
}
.fa-linkedin:hover{
    color: whitesmoke;
}


nav .logo{
    margin: 6px;
    font-size:25px;
    cursor: pointer;
}
.icons{
    display: none;
}
.closemenu{
    display: none;
}

@media  screen and (max-width: 650px){
    nav .mainmenu{
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 64133;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #8d99ae;
        transition: top 2s ease-in-out 1s;
        display: none;
    }
   nav .mainmenu .closemenu{
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
   }
   nav .openmenu{
       display: block;
   }
   nav .mainmenu li a:hover{
       font-size: 2rem;
       background: none;
       color: black;
   }
   .icons{
    display: inline-block;
    margin-top: 20px;
   }
   .fa-facebook{
    padding-right: 20px;
}
.fa-twitter{
    padding-right: 20px;
    
}
.fa-instagram{
    padding-right: 20px;
}
.fa-youtube{
    padding-right: 20px;
}
.fa-linkedin{
    padding-right: 20px;
}
#hhead1{
    text-align: center;
    margin-top: 3em;
    font-family: serif;
}
#pic1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#hhead2{
    text-align: center;
    margin-top: 3em;
    font-family: serif;
}
.k1head{
   font-family: monospace;
   font-size: 4em;
   color: var(--maincolor);
   text-align: center;
   margin-top: 2em;
}
#k2head{
    text-align: left;
    margin-top: 1em;
}
.blue1{
    margin-top: 2em;
    color: blue;
    height: 100px;
    width: 100px;
    background-color: black;
    border-radius: 25px 25px 25px 25px;
    margin-left: 20px;
    padding-top: 40px;
    padding-left: 25px;
}
.blue1 a{
    text-decoration: none;
    color: #E72929;
}
}